/*jenniferhoffman.net
interactive equine genetics */

#debugOutput{background:#18375f;color:white;padding-bottom:20px;display:none;}
html {
    background:url('bg.gif');
	width:100%;
	text-align:center
}
html,body{margin:0}
img.greyedout {
	opacity:.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50)
}
a {
	color:#00a2e3
}
div.circled {
	border: 2px solid #FFFFFF;
	margin:3px;
	border-radius:10px 10px 10px 10px;
	background-color:#54d5fb;
	background-color:rgba(120,230,255,.7);
}
*.offFocus {opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
*.subdued {opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
*.barelyVis{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}
#container{ padding:5px}
#detailedinfo {
    width:70%;
	padding:10px 30px;
	border:6px solid #001737;
	color:#82c1ff;
	margin-left:15%;
	text-align:center;
	background-color:#18375f;
	background:rgba(1,64,154,.2);
}
#borderDummy{
	position:absolute;
	border:6px solid #001737;
	width:484px;
	height:674px;
	margin-top:15px;
	left:50%;
	margin-left:-240px;
}
#gamewindow {
	position:absolute;
	left:0;
    width: 480px;
	height:670px;
    background: url('BG.jpg');
	border:2px solid #00a2e3;
}
#horse, #horse img{
	position:absolute;
	right:0px;
	width:360px;
	height:488px;
	border:none
}
#horse{
	top:85px;
	width:460px
}
#loadBarBox, #loadBarText{
	width:200px;
	position:absolute;
	left:50%;
	margin-left:-100px;
}
#loadBarText{
	color:white;
	margin-top:150px;
	font-size:25pt;
	font-weight:bold
}
#loadBarBox{
	height:5px;
	border:2px solid #00a2e3;
	border-radius:10px;
	background-color:#18375f;
	background:rgba(1,64,154,.2);
	margin-top:200px;
}
#loadBar{
	position:absolute;
	height:100%;
	width:0;
	left:0;
	border-radius:8px;
	color:#00a2e3;
	background-color:#00a2e3;
	background:url('loadbar.png')
}
#basecoat {background:url('frame.png')}
#grey {
	display:none
}
#roan, #rabicano, #sooty, #tobiano, #overo, #splashedwhite,
#appaloosa, #silver, #white, #sabino {
	display:none
}
#topbuffer {height:9px;display:block}
#genes{
	position:absolute;
    width: 100px;
    height:100%;
	margin:0;
	left:0
}
#gene {
	height:33px;
	text-align:center
}
#gene img{
	width:30px;
	height:30px;
	margin-top:2px
}
#showhidehelp{
	position:absolute;
	width:100px;
	left:0px;
	bottom:0px;
	text-align:center;
	cursor: help;
	color:#474747;
	background:url('showHide.png') center no-repeat
}
#information{
    position:absolute;
    width:345px;
    height:50px;
    left:94px;
    top:0px
}
#colorname{
    width:100%;
    height:40px;
	padding-top:5px;
    text-align:center;
    font-size:30;
	font-weight:bold;
	color:white
}
#arrows {
	position:absolute;
	right:5px;
	top:5px
}
#arrows img{
	width:30px;
	height:30px
}
#colorinfo{
	position:absolute;
	left:0;
	width:360px;
	text-align:justify;
	margin-left:100px;
	margin-top:50px;
	display:none;
	border-radius:10px;
	border:2px solid #001737;
	color:white;
	background-color:#18375f;
	background:rgba(24,44,89,.7);
}
#colorinfo p {margin:0px;padding:10px 20px}
#faceselect {
	position:absolute;
	display:block;
	top:145px;
	left:185px;
	width:50px;
	height:95px
}
#generatecolor {
	position:absolute;
	bottom:2px;
	left:105px
}
#generatecolor a, #generatecolor img {
	width:30px;
	height:30px;
	display:block;
	float:left;
	padding-right:4px
}
#footer {
	position:absolute;
	display:block;
	bottom:2px;
	right:2px;
	width:88px;
	height:31px
}
#genehelp {
	position:absolute;
	display:none;
	text-align:center;
	width:200px;
	height:65px;
	left:90px;
	padding:7px 12px;
	color:white;
	border-radius:5px;
	border:2px solid #001737;
	background-color:#18375f;
	background:rgba(24,44,89,.7);
}

@-webkit-keyframes fade {
	0% {opacity:0}
	40% {opacity:1}
	88% {opacity:1}
	90% {opacity:0}
	100% {opacity:0}
}
@-moz-keyframes fade {
	0% {opacity:0}
	40% {opacity:1}
	88% {opacity:1}
	90% {opacity:0}
	100% {opacity:0}
}
@keyframes fade {
	0% {opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
	40% {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)}
	88% {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)}
	90% {opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
	100% {opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
}
#grey {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-play-state: paused;
	-webkit-animation-name: fade;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 7s;
	-webkit-animation-play-state: paused;
	-moz-animation-name: fade;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 7s;
	-moz-animation-play-state: paused
}
#textFooter{
	position:absolute;
	width:100%;
	left:0px;
	margin-top:730px;
	padding:5px 0px;
	border-top:1px solid #001737;
	color:#4291bf;
	text-align:center;
	background-color:#18375f;
	background:rgba(1,64,154,.2);
}