{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.ts"],
  "exclude": ["test/**/*.ts"],
  "reporter": ["html", "text", "text-summary"],
  "report-dir": "coverage"
}
